

.container {
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 10vw 1fr 10vw;
    position: relative;
}

.header {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
}


.background {
    position: absolute;
    animation: slide-tr 1s ease-in;
    
}

.infoBox {
    display: grid;
    align-content: center;
    position: absolute;
    animation: slide-tr 1s ease-in;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 957px;
    top: 32px;
    border-radius: 100%;
    text-align: center;
    color: white;
    }

.timeline {
    grid-column-start: 1;
    grid-row-start: 2;
    position: relative;
    align-self: center;
    display: grid;
    grid-template-rows: repeat(13, 1fr);
    justify-self: center;
    background: rgba(216, 216, 216, 0.253);
    border-radius: 45px;
    width: 90px;
    height: 80vh;
    text-align: center;
    
}

.buttonArrowUp {
    transform: rotate(90deg);
    align-self: center;
    justify-self: center;
    height: 25px;
    width: 25px;
   
    
}

.buttonArrowDown {
    transform: rotate(230deg);
    align-self: center;
    justify-self: center;
    height: 25px;
    width: 25px;
}

.buttonYear {
    padding: 0%;
    border: none;
    background-color: transparent;
    outline: none;
}

.filter {
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: center;

}

.addbutton {
    grid-column-start: 3;
    grid-row-start: 3;
    align-self: center;
    justify-self: center;
}

.informationLayout {
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
    
}

.year {
   position: absolute;
   top: 20px;
   left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 64px;
    line-height: 75px;
    color: transparent;
    text-shadow: 1px 2px 4px white, 0 0 0 lightgrey, 1px 4px 6px white;
    animation: slide-tr 1s ease-in;

    
}


  .slide-tr {
	-webkit-animation: slide-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-tr {
    0% {
      -webkit-transform: translateY(-100vh) translateX(-30vw);
              transform: translateY(-100vh) translateX(-30vw);
    }
    100% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
  }
  @keyframes slide-tr {
    0% {
      -webkit-transform: translateY(-100vh) translateX(-30vw);
              transform: translateY(-100vh) translateX(-30vw);
    }
    100% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
  }
  

  .rotate-scale-up {
	-webkit-animation: rotate-scale-up 0.65s linear both;
	        animation: rotate-scale-up 0.65s linear both;
}



  /* ----------------------------------------------
 * Generated by Animista on 2020-5-2 15:47:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  
  .slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

  /* ----------------------------------------------
 * Generated by Animista on 2020-5-2 15:49:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-1000px) translateX(-23vw);
              transform: translateY(-1000px) translateX(-23vw);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-1000px) translateX(-23vw);
              transform: translateY(-1000px) translateX(-23vw);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  