.container {
    display: grid;
    grid-template-rows: 92vh 8vh;
    grid-template-columns: 10vw 1fr;
    position: relative;
    
}

.header {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}


.background {
    background-image: url(../../../assets/detailedbackground.svg);
	background-size: cover;
	background-position: center, center;
    transition: transform 1.2s;
    width: 105vw;
    height: 105vh;
    position: absolute;
    top: 5;
    left: -5%;
}

.timeline {
    grid-column-start: 1;
    grid-row-start: 1;
    position: relative;
    align-self: center;
    display: grid;
    grid-template-rows: repeat(13, 1fr);
    justify-self: center;
    margin-top: 3.5vh;
    background: rgba(216, 216, 216, 0.253);
    border-radius: 45px;
    width: 90px;
    height: 80vh;
    text-align: center;
    
}

.buttonArrowUp {
    transform: rotate(90deg);
    align-self: center;
    justify-self: center;
    height: 25px;
    width: 25px;
    
}

.buttonArrowDown {
    transform: rotate(270deg);
    align-self: center;
    justify-self: center;
    height: 25px;
    width: 25px;
}

.buttonYear {
    padding: 0%;
    border: none;
    background-color: transparent;
    outline: none;
}

.filter {
    grid-column: span 2;
    
}