.container {
    display: grid;
    grid-template-rows: 150%;
    grid-template-columns: 10% 90%;
}

.list {
    align-self: center;
    justify-self: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 45px;
    width: 90px;
    height: 600px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.buttonArrowUp {
    transform: rotate(90deg);
}

.buttonArrowDown {
    transform: rotate(270deg);
}