

.container {
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 10vw 1fr 10vw;
    position: relative;
}

.header {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
}


.background {
    position: absolute;
    animation: slide-tr 1s ease-in;
}

.timeline {
    grid-column-start: 1;
    grid-row-start: 2;
    position: relative;
    align-self: center;
    display: grid;
    grid-template-rows: repeat(25, 1fr);
    justify-self: center;
    background: rgba(216, 216, 216, 0.486);
    border-radius: 45px;
    width: 70px;
    height: 70vh;
    text-align: center;
}

.buttonArrowUp {
    transform: rotate(90deg);
    align-self: center;
    justify-self: center;
    height: 25px;
    width: 25px;
    margin: 10px;
    
}

.buttonArrowDown {
    transform: rotate(270deg);
    align-self: center;
    justify-self: center;
    height: 25px;
    width: 25px;
    margin: 10px;
}

.buttonYear {
    padding: 0%;
    border: none;
    background-color: transparent;
    outline: none;
}

.filter {
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: center;

}

.addbutton {
    grid-column-start: 3;
    grid-row-start: 3;
    align-self: center;
    justify-self: center;
}

.informationLayout {
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
}

.form {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    z-index: 999;
    animation: slide-left;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    transition: ease;
    
}

@keyframes slide-left {
    0% {
        transform: translateX(0);
      }
    
      100% {
        transform: translateX(100%);
      }
    }

  .slide-tr {
	-webkit-animation: slide-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-tr {
    0% {
      -webkit-transform: translateY(-100vh) translateX(-30vw);
              transform: translateY(-100vh) translateX(-30vw);
    }
    100% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
  }
  @keyframes slide-tr {
    0% {
      -webkit-transform: translateY(-100vh) translateX(-30vw);
              transform: translateY(-100vh) translateX(-30vw);
    }
    100% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
  }
  
