.container {
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 10vw 1fr 10vw;
    position: relative;
}

.header {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
}


.background {
    background-image: url(../../../assets/detailedbackground.svg);
	background-size: cover;
	background-position: center, center;
    transition: transform 1.2s;
    width: 105vw;
    height: 105vh;
    position: absolute;
    top: 5;
    left: -5%;
}

.timeline {
    grid-column-start: 1;
    grid-row-start: 2;
    position: relative;
    align-self: center;
    display: grid;
    grid-template-rows: repeat(13, 1fr);
    justify-self: center;
    background: rgba(216, 216, 216, 0.253);
    border-radius: 45px;
    width: 90px;
    height: 80vh;
    text-align: center;
    
}

.buttonArrowUp {
    transform: rotate(90deg);
    align-self: center;
    justify-self: center;
    height: 25px;
    width: 25px;
    
}

.buttonArrowDown {
    transform: rotate(270deg);
    align-self: center;
    justify-self: center;
    height: 25px;
    width: 25px;
}

.buttonYear {
    padding: 0%;
    border: none;
    background-color: transparent;
    outline: none;
}

.filter {
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: center;

}

.addbutton {
    grid-column-start: 3;
    grid-row-start: 3;
    align-self: center;
    justify-self: center;
}

.informationLayout {
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
}

.form {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    z-index: 999;
    animation: slide-left;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    transition: ease;
    
}

@keyframes slide-left {
    0% {
        transform: translateX(0);
      }
    
      100% {
        transform: translateX(100%);
      }
    }