.headerStyle {
    font-family: var(--h1-font);
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    letter-spacing: 0.38em;
    text-transform: uppercase;
    color: #3D3D3D;
}

.headerContainer {
    justify-self: center;
    text-align: center;
}