.formContainer {
    width: 600px;
    height: 610px;
    background: #0071B8;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10%;
    padding: 30px;
    box-sizing: border-box;
    font-family: arial;
    text-align: center;
    

}

.formLayout {
    display: inline-grid;
    grid-template-columns: 21vw 14vw;
    grid-template-rows: 10vh 10vh 10vh 30vh 10vh;
    margin-left: 55px;
    
}

.year {
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
display: flex;
flex-direction: column;
place-items: flex-start;

}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    place-items: flex-start;

}

.description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    grid-column: span 2;
    grid-row-start: 4;
    flex-direction: column;
    place-items: flex-start;

}

.link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    place-items: flex-start;
    grid-column-start: 1;
} 

.yearInput { 
    height: 45px;
    width: 100px;
    font-size: 25px;
}

.titleInput {
    height: 45px;
    width: 180px;
}

.descriptionInput {
    height: 177px;
    width: 400px;
}

.linkInput {
    height: 45px;
    width: 400px;
}

input, textarea {
    background: #FFFFFF;
    border-radius: 10px;
    margin: 7px;
    font-size: 20px;
    border-color: #FFFFFF;
    box-shadow: inset 4px 4px 12px rgba(0, 0, 0, 0.25);
   
}



.radioButtons {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-row-start: 1;
    place-items: baseline;

}

.radioButtons > label > input {
    height: 20px;
}

.buttonContainer {
    grid-column: span 2;
    display: flex;
    grid-row-start: 5;
}
.submitButton {
    width: 150px;
    height: 60px;
    font-family: var(--p-font);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    justify-content: center;
    color: #FFFFFF;
}

.cancelButton {
    width: 150px;
    height: 60px;
    font-family: var(--p-font);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    justify-content: center;
    color: #FFFFFF;
    margin-right: 115px;
}


.submitButton:hover {
    background-color: rgb(2, 88, 141);
}

.cancelButton:hover {
    background-color: rgb(2, 88, 141);
} 



.backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    pointer-events: none;
    display: none;
}

.backdropVisible {
    display: block;
    pointer-events: all;

}