.formContainer {
    width: 40vw;
    height: 85vh;
    background: #0071B8;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10%;
    box-sizing: border-box;
    font-family: arial;
    text-align: center;
    animation: slide-left 1s ease-in; 
    

}

.formLayout {
    display: inline-grid;
    grid-template-columns: 5vw 15vw 15vw 5vw;
    grid-template-rows: 5vh 11vh 11vh 11vh 30vh 17vh;
    align-items: flex-end;
    
}

.year {
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
display: flex;
flex-direction: column;
place-items: flex-start;
grid-column-start: 2;
grid-row-start: 2;

}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    place-items: flex-start;
    grid-column-start: 2;
    grid-row-start: 3;

}

.description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    flex-direction: column;
    place-items: flex-start;

}

.link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    place-items: flex-start;
    grid-column-start: 2;
    grid-row-start: 4;
} 

.yearInput { 
    height: 5vh;
    margin: 0;
    padding: 0;
    width: 8vw;
    font-size: 25px;
}

.titleInput {
    width: 15vw;
    height: 5vh;
    margin: 0;
    padding: 0;
}

.descriptionInput {
    height: 25vh;
    width: 30vw;
    margin: 0;
    padding: 0;
}

.linkInput {
    height: 5vh;
    width: 30vw;
    margin: 0;
    padding: 0;
}

input, textarea {
    background: #FFFFFF;
    border-radius: 10px;
    margin: 7px;
    font-size: 20px;
    border-color: #FFFFFF;
    box-shadow: inset 4px 4px 12px rgba(0, 0, 0, 0.25);
   
}



.radioButtons {
    display: flex;
    flex-direction: column;
    grid-column-start: 3;
    grid-row-start: 2;
    place-items: baseline;
    justify-self: end;
    grid-row-end: 4;

}

.radioButtons > label > input {
    height: 20px;
}

.submitButton {
    width: 150px;
    height: 60px;
    font-family: var(--p-font);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    justify-content: center;
    justify-self: center;
    align-self: center;
    color: #FFFFFF;
    background-color: transparent;
    grid-row-start: 6;
    grid-column-start: 3;
}

.cancelButton {
    width: 150px;
    height: 60px;
    font-family: var(--p-font);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    justify-content: center;
    color: #FFFFFF;
    background-color: transparent;
    grid-row-start: 6;
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
}


.submitButton:hover {
    background-color: rgb(2, 88, 141);
}

.cancelButton:hover {
    background-color: rgb(2, 88, 141);
} 

.slide-left {
	-webkit-animation: slide-left 0.5s ease-in both;
	        animation: slide-left 0.5s ease-in both;
}


 @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(100vw);
              transform: translateX(100vw);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(100vw);
              transform: translateX(100vw);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  