.infoBoxLayoutStyle {
	width: 80vw;
	height: 75vh;
	border-radius: 45px;
	display: grid;
	grid-template-columns: 5% repeat(3, 1fr) 5%;
	grid-template-rows: 50% 50%;
	align-items: center;
	justify-items: center;
	padding: 30px 15px 30px 15px;
	background: rgba(216, 216, 216, 0.253);
    border-radius: 45px;
}

.informationBoxLayer {
	z-index: 1;
}

.leftArrow {
	grid-area: 1 / 1 / span 2 / span 1;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}
.rightArrow {
	grid-area: 1 / 5 / span 2 / span 1;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	transform: rotate(180deg);
}

.leftArrowHidden {
	grid-area: 1 / 1 / span 2 / span 1;
	visibility: hidden;
}
.rightArrowHidden {
	grid-area: 1 / 5 / span 2 / span 1;
	border: none;
	visibility: hidden;
}
