.infoBoxLayoutStyle {
	width: 1200px;
	height: 600px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 45px;
	position: relative;
	top: -500px;
	left: 150px;
	display: grid;
	grid-template-columns: 5% repeat(3, 1fr) 5%;
	grid-template-rows: 50% 50%;
	align-items: center;
	justify-items: center;
	padding: 30px 15px 30px 15px;
}

.leftArrow {
	grid-area: 1 / 1 / span 2 / span 1;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}
.rightArrow {
	grid-area: 1 / 5 / span 2 / span 1;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}
.rotateArrowRight {
	transform: rotate(180deg);
}
.informationBoxLayer {
	z-index: 1;
}
.hidden {
	visibility: hidden;
}
.leftArrowHidden {
	grid-area: 1 / 1 / span 2 / span 1;
	visibility: hidden;
}
.rightArrowHidden {
	grid-area: 1 / 5 / span 2 / span 1;
	border: none;
	visibility: hidden;
}
