body {
	background-image: url(./assets/1.svg);
	background-size: cover;
	background-position: center, center;
	transition: transform .3s;
}

.test {
	background-color: var(--color-green);
	font-family: 'Franklin Gothic Heavy';
	font-size: 26px;
}
