@import '../index.module.css';

.container {
	display: grid;
	grid-template-rows: 10vh 80vh 10vh;
	grid-template-columns: 10vw 1fr 10vw;
	position: relative;
}

.year {
	position: absolute;
	top: 20px;
	left: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 64px;
	line-height: 75px;
	color: transparent;
	text-shadow: 1px 2px 4px white, 0 0 0 lightgrey, 1px 4px 6px white;
	animation: slide-tr 1s ease-in;
}

.header {
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 4;
	justify-self: center;
}

.background {
	position: absolute;
	animation: slide-tr 1s ease-in;
}

.timeline {
	grid-column-start: 1;
	grid-row-start: 2;
	position: relative;
	align-self: center;
	display: grid;
	grid-template-rows: repeat(auto, 1fr);
	justify-self: center;
	background: rgba(216, 216, 216, 0.253);
	border-radius: 45px;
	width: 90px;
	height: 50vh;
	text-align: center;
}
.transparentBackground {
	border: none;
	background: rgba(216, 216, 216, 0);
}

.buttonArrowUp {
	transform: rotate(90deg);
	align-self: center;
	justify-self: center;
	height: 25px;
	width: 25px;
	border: none;
}

.buttonArrowDown {
	transform: rotate(270deg);
	align-self: center;
	justify-self: center;
	height: 25px;
	width: 25px;
	border: none;
}

.buttonYear {
	padding: 0%;
	border: none;
	background-color: transparent;
	outline: none;
}

.buttonClick {
	font-size: 20px;
	border: none;
	background-color: transparent;
	outline: none;
	color: var(--color-ocean);
	font-weight: bold;
}

.filter {
	grid-column-start: 2;
	grid-row-start: 3;
	align-self: center;
}

.addbutton {
	grid-column-start: 3;
	grid-row-start: 3;
	align-self: center;
	justify-self: center;
}

.informationLayout {
	grid-column-start: 2;
	grid-row-start: 2;
	align-self: center;
	justify-self: center;
}

.form {
	top: 50%;
	left: 50%;
	z-index: 999;
	animation: slide-left 1s ease-in;
	position: absolute;
	transform: translate(-50%, -50%);
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	pointer-events: none;
	width: 100%;
	height: 100vh;
	position: absolute;
}

.slide-tr {
	-webkit-animation: slide-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-tr {
	0% {
		-webkit-transform: translateY(-100vh) translateX(-30vw);
		transform: translateY(-100vh) translateX(-30vw);
	}
	100% {
		-webkit-transform: translateY(0) translateX(0);
		transform: translateY(0) translateX(0);
	}
}
@keyframes slide-tr {
	0% {
		-webkit-transform: translateY(-100vh) translateX(-30vw);
		transform: translateY(-100vh) translateX(-30vw);
	}
	100% {
		-webkit-transform: translateY(0) translateX(0);
		transform: translateY(0) translateX(0);
	}
}
